In [1]:
import os
import pandas as pd
import numpy as np
import json
import folium
from IPython.display import display, HTML
from ipywidgets import widgets
from ipywidgets import interact
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
import branca.colormap as cm
from matplotlib import colors

In [2]:
df_refugee = pd.read_csv("time_series.csv",low_memory=False)
display(df_refugee.size)
df_refugee['Value'] = pd.to_numeric(df_refugee['Value'], errors='coerce')
df_refugee= df_refugee[df_refugee['Value'] > 0]
df_refugee = df_refugee[df_refugee['Year']>1984]
df_refugee = df_refugee.groupby(['Year','Country / territory of asylum/residence','Origin']).sum().reset_index()
df_refugee = df_refugee.rename(columns={"Year":"year","Value":"value"})

1492205

In [3]:
df_geo  = pd.read_csv("geo.csv")
df_merge = df_refugee.merge(df_geo, left_on='Country / territory of asylum/residence', right_on='name', how='inner')
df_merge = df_merge[['year','value','Origin',"country"]]
df_merge = df_merge.rename(columns={"country" : "country_asylum"})
df_merge = df_merge.merge(df_geo, left_on='Origin', right_on='name', how='inner')
df_merge = df_merge[['year',"country","country_asylum",'value']]
df_merge = df_merge.rename(columns={"country":"country_origin"})
df_merge = df_merge.sort_values("year")

display(df_merge.head())

       year country_origin country_asylum    value
0      1985             CL             DZ    100.0
86593  1985             ID             PG  11820.0
62240  1985             LK             IT     10.0
32863  1985             GW             IT      2.0
53127  1985             ZW             BW   4250.0

In [4]:
df_immigration_exit = df_merge.drop("country_asylum",1)
df_immigration_exit = df_immigration_exit.groupby(["year","country_origin"]).sum().reset_index()
df_immigration_exit= df_immigration_exit.sort_values(["country_origin","year"])
display(df_immigration_exit.head())
df_immigration_exit.to_csv("data_immigration_exit.csv", sep=',', encoding='utf-8',index = False)

      year country_origin  value
804   1994             AD    2.0
959   1995             AD    2.0
1119  1996             AD    3.0
1284  1997             AD    1.0
1451  1998             AD    2.0

In [5]:
df_immigration_entry = df_merge.drop("country_origin",1)
df_immigration_entry = df_immigration_entry.groupby(["year","country_asylum"]).sum().reset_index()
df_immigration_entry= df_immigration_entry.sort_values(["country_asylum","year"])
df_immigration_entry = df_immigration_entry[["country_asylum","year","value"]]
display(df_immigration_entry.head())
df_immigration_entry.to_csv("data_immigration_entry.csv", sep=',', encoding='utf-8',index = False)

    country_asylum  year   value
0               AE  1985  5370.0
524             AE  1993   389.0
647             AE  1994   448.0
770             AE  1995   375.0
896             AE  1996   427.0

In [6]:
import math
def keepNonNan(country_origin,country_asylum):
    if (country_origin == 0):
        return country_asylum
    if (country_asylum == 0):
        return country_origin 
    return country_origin

In [7]:
df_immigration_delta = df_immigration_entry.merge(df_immigration_exit,right_on=['year','country_origin'], left_on=['year','country_asylum'], how='outer')
df_immigration_delta = df_immigration_delta.fillna(0)
df_immigration_delta['country'] = df_immigration_delta.apply(lambda x:keepNonNan(x['country_origin'],x['country_asylum']),axis = 1)

df_immigration_delta = df_immigration_delta[df_immigration_delta.country != 0]
df_immigration_delta['value'] = df_immigration_delta.value_x - df_immigration_delta.value_y

df_immigration_delta = df_immigration_delta[["year","country","value"]]
df_immigration_delta = df_immigration_delta.sort_values(["year","country"])
display(df_immigration_delta.head())

      year country      value
0     1985      AE     5370.0
4006  1985      AF -2754343.0
4031  1985      AL     -107.0
4041  1985      AM     -333.0
101   1985      AO      878.0

In [8]:
df_immigration_delta.to_csv("data_immigration_delta.csv", sep=',', encoding='utf-8',index = False)