In [1]:
import os
import pandas as pd
import numpy as np
import json
import folium
from IPython.display import display, HTML
from ipywidgets import widgets
from ipywidgets import interact
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
import branca.colormap as cm
from matplotlib import colors

In [2]:
df_refugee = pd.read_csv("time_series.csv",low_memory=False)
display(df_refugee.size)
df_refugee['Value'] = pd.to_numeric(df_refugee['Value'], errors='coerce')
df_refugee= df_refugee[df_refugee['Value'] > 0]
display(df_refugee.size)

1492205

825275

In [3]:
df_geo  = pd.read_csv("geo.csv")
display(df_geo.head())

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [4]:
df_merge = df_refugee.merge(df_geo, left_on='Country / territory of asylum/residence', right_on='name', how='inner')
df_merge = df_merge[['Year','latitude','longitude','Value','Origin']]
df_merge = df_merge.rename(columns={'latitude': 'latitude_asylum','longitude': 'longitude_asylum'})
display(df_merge.head())

   Year  latitude_asylum  longitude_asylum     Value           Origin
0  1951       -25.274398        133.775136  180000.0  Various/Unknown
1  1965       -25.274398        133.775136   40000.0  Various/Unknown
2  1966       -25.274398        133.775136   40000.0  Various/Unknown
3  1967       -25.274398        133.775136   44000.0  Various/Unknown
4  1968       -25.274398        133.775136   43000.0  Various/Unknown

In [5]:
df_merge = df_merge.merge(df_geo, left_on='Origin', right_on='name', how='inner')
df_merge = df_merge[['Year','latitude','longitude','latitude_asylum','longitude_asylum','Value']]
df_merge = df_merge.rename(columns={'latitude': 'latitude_origin','longitude': 'longitude_origin'})
display(df_merge.head())
df_merge = df_merge.sort_values("Year")

,Year,latitude_origin,longitude_origin,latitude_asylum,longitude_asylum,Value
0,1993,-35.675147,-71.542969,-25.274398,133.775136,89.0
1,1994,-35.675147,-71.542969,-25.274398,133.775136,58.0
2,1995,-35.675147,-71.542969,-25.274398,133.775136,42.0
3,1996,-35.675147,-71.542969,-25.274398,133.775136,6.0
4,1997,-35.675147,-71.542969,-25.274398,133.775136,7.0

In [6]:
df_merge['Value'] = pd.to_numeric(df_merge['Value'], errors='coerce')
df_merge= df_merge[df_merge['Value'] > 0]
display(df_merge)

,Year,latitude_origin,longitude_origin,latitude_asylum,longitude_asylum,Value
70400,1961,-1.940278,29.873888,1.373333,32.290275,52000.0
70167,1961,-1.940278,29.873888,-3.373056,29.918886,30000.0
35492,1961,7.946527,-1.023194,8.619543,0.824782,5000.0
70329,1961,-1.940278,29.873888,-6.369028,34.888822,12000.0
70401,1962,-1.940278,29.873888,1.373333,32.290275,52000.0
70168,1962,-1.940278,29.873888,-3.373056,29.918886,30000.0
70330,1962,-1.940278,29.873888,-6.369028,34.888822,12000.0
35493,1962,7.946527,-1.023194,8.619543,0.824782,5000.0
123324,1963,11.803749,-15.180413,14.497401,-14.452362,6000.0
70169,1963,-1.940278,29.873888,-3.373056,29.918886,34000.0
73595,1963,12.862807,30.217636,1.373333,32.290275,5000.0
70331,1963,-1.940278,29.873888,-6.369028,34.888822,12000.0
35494,1963,7.946527,-1.023194,8.619543,0.824782,5000.0
70402,1963,-1.940278,29.873888,1.373333,32.290275,54000.0
73693,1964,12.862807,30.217636,6.611111,20.939444,300.0
12042,1964,41.153332,20.168331,26.820553,30.802498,100.0
123325,1964,11.803749,-15.180413,14.497401,-14.452362,30000.0
117635,1964,-18.665695,35.529562,-6.369028,34.888822,10000.0
35495,1964,7.946527,-1.023194,8.619543,0.824782,5000.0
70170,1964,-1.940278,29.873888,-3.373056,29.918886,58000.0
70332,1964,-1.940278,29.873888,-6.369028,34.888822,13300.0
70403,1964,-1.940278,29.873888,1.373333,32.290275,67000.0
73596,1964,12.862807,30.217636,1.373333,32.290275,12000.0
20570,1964,35.861660,104.195397,35.861660,104.195397,1120000.0
12983,1964,40.069099,45.038189,26.820553,30.802498,170.0
70404,1965,-1.940278,29.873888,1.373333,32.290275,65400.0
105994,1965,-3.373056,29.918886,-1.940278,29.873888,1000.0
117636,1965,-18.665695,35.529562,-6.369028,34.888822,12000.0
70171,1965,-1.940278,29.873888,-3.373056,29.918886,52000.0
70172,1965,-1.940278,29.873888,-3.373056,29.918886,4500.0
...,...,...,...,...,...,...
13092,2016,40.069099,45.038189,-38.416097,-63.616672,79.0
99683,2016,14.497401,-14.452362,49.815273,6.129583,7.0
51904,2016,29.311660,47.481766,-25.274398,133.775136,5.0
99477,2016,14.497401,-14.452362,56.130366,-106.346771,31.0
99478,2016,14.497401,-14.452362,56.130366,-106.346771,228.0
24518,2016,21.521757,-77.781167,-23.442503,-58.443832,10.0
24519,2016,21.521757,-77.781167,-23.442503,-58.443832,66.0
99511,2016,14.497401,-14.452362,46.818188,8.227512,13.0
99512,2016,14.497401,-14.452362,46.818188,8.227512,36.0
99542,2016,14.497401,-14.452362,51.165691,10.451526,1741.0
99543,2016,14.497401,-14.452362,51.165691,10.451526,54.0
13053,2016,40.069099,45.038189,35.126413,33.429859,19.0
13054,2016,40.069099,45.038189,35.126413,33.429859,26.0
51779,2016,12.565679,104.990963,4.210484,101.975766,60.0
13091,2016,40.069099,45.038189,-38.416097,-63.616672,105.0
51778,2016,12.565679,104.990963,4.210484,101.975766,19.0
99581,2016,14.497401,-14.452362,40.463667,-3.749220,5.0
99607,2016,14.497401,-14.452362,46.227638,2.213749,690.0
99608,2016,14.497401,-14.452362,46.227638,2.213749,939.0
51738,2016,12.565679,104.990963,36.204824,138.252924,10.0
99626,2016,14.497401,-14.452362,55.378051,-3.435973,43.0
99627,2016,14.497401,-14.452362,55.378051,-3.435973,73.0
99640,2016,14.497401,-14.452362,39.074208,21.824312,87.0
99641,2016,14.497401,-14.452362,39.074208,21.824312,46.0
51714,2016,12.565679,104.990963,15.870032,100.992541,110.0
51713,2016,12.565679,104.990963,15.870032,100.992541,120.0
99675,2016,14.497401,-14.452362,41.871940,12.567380,5683.0
99676,2016,14.497401,-14.452362,41.871940,12.567380,4762.0
99580,2016,14.497401,-14.452362,40.463667,-3.749220,25.0
75609,2016,12.862807,30.217636,21.007890,-10.940835,8.0

In [7]:
df_merge.to_csv("final_data.csv", sep=',', encoding='utf-8',index = False)