In [10]:
import os
import pandas as pd
import numpy as np
import json
import folium
from IPython.display import display, HTML
from ipywidgets import widgets
from ipywidgets import interact
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
import branca.colormap as cm
from matplotlib import colors

In [27]:
df_refugee = pd.read_csv("time_series.csv",low_memory=False)
df_refugee['Value'] = pd.to_numeric(df_refugee['Value'], errors='coerce')
df_refugee= df_refugee[df_refugee['Value'] > 0]
df_refugee = df_refugee[df_refugee['Year']>1984]
display(df_refugee.shape)

(161831, 5)

In [28]:
df_geo  = pd.read_csv("geo.csv")
df_merge = df_refugee.merge(df_geo, left_on='Country / territory of asylum/residence', right_on='name', how='inner')
df_merge = df_merge[['Year','Value','Origin',"country"]]
df_merge = df_merge.rename(columns={"country" : "country_asylum"})
df_merge = df_merge.merge(df_geo, left_on='Origin', right_on='name', how='inner')
df_merge = df_merge[['Year',"country","country_asylum",'Value']]
df_merge = df_merge.rename(columns={"country":"country_origin"})
df_merge = df_merge.sort_values("Year")

display(df_merge.head())

       Year country_origin country_asylum    Value
0      1985            NaN             AO  69000.0
51693  1985             HT             DO   6000.0
50469  1985             ZW             BW   4250.0
1202   1985             ZA             ZW    250.0
1179   1985             ZA             ZM   3100.0

In [29]:
df_immigration_exit = df_merge.drop("country_asylum",1)
df_immigration_exit = df_immigration_exit.groupby(["Year","country_origin"]).sum().reset_index()
df_immigration_exit= df_immigration_exit.sort_values(["country_origin","Year"])
display(df_immigration_exit.tail())
df_immigration_exit.to_csv("data_immigration_exit.csv", sep=',', encoding='utf-8',index = False)

      Year country_origin     Value
4104  2012             ZW  121800.0
4288  2013             ZW  121810.0
4473  2014             ZW   65097.0
4659  2015             ZW   78899.0
4823  2016             ZW   61458.0

In [30]:
df_immigration_entry = df_merge.drop("country_origin",1)
df_immigration_entry = df_immigration_entry.groupby(["Year","country_asylum"]).sum().reset_index()
df_immigration_entry= df_immigration_entry.sort_values(["country_asylum","Year"])
df_immigration_entry = df_immigration_entry[["country_asylum","Year","Value"]]
display(df_immigration_entry.tail())
df_immigration_entry.to_csv("data_immigration_entry.csv", sep=',', encoding='utf-8',index = False)

     country_asylum  Year    Value
3347             ZW  2012  59376.0
3510             ZW  2013  61922.0
3672             ZW  2014   1704.0
3835             ZW  2015   2166.0
3983             ZW  2016   2500.0