In [40]:
import os
import pandas as pd
import numpy as np
import json
import folium
from IPython.display import display, HTML
from ipywidgets import widgets
from ipywidgets import interact
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
import branca.colormap as cm
from matplotlib import colors

In [55]:
df_refugee = pd.read_csv("time_series.csv",low_memory=False)
display(df_refugee.size)
df_refugee['Value'] = pd.to_numeric(df_refugee['Value'], errors='coerce')
df_refugee= df_refugee[df_refugee['Value'] > 0]
df_refugee = df_refugee[df_refugee['Year']>1984]
display(df_refugee.size)

1492205

809155

In [56]:
df_geo  = pd.read_csv("geo.csv",na_values ='NaN',keep_default_na =False)
display(df_geo.head())

  country   latitude   longitude                  name
0      AD  42.546245    1.601554               Andorra
1      AE  23.424076   53.847818  United Arab Emirates
2      AF   33.93911   67.709953           Afghanistan
3      AG  17.060816  -61.796428   Antigua and Barbuda
4      AI  18.220554  -63.068615              Anguilla

In [57]:
df_merge = df_refugee.merge(df_geo, left_on='Country / territory of asylum/residence', right_on='name', how='inner')
df_merge = df_merge[['Year','latitude','longitude','country','Value','Origin']]
df_merge = df_merge.rename(columns={'latitude': 'latitude_asylum','longitude': 'longitude_asylum','country':'country_asylum'})
display(df_merge.head(10))

,Year,latitude_asylum,longitude_asylum,country_asylum,Value,Origin
0,1985,-11.202692,17.873887,AO,13220.0,Dem. Rep. of the Congo
1,1985,-11.202692,17.873887,AO,69000.0,Namibia
2,1985,-11.202692,17.873887,AO,9300.0,South Africa
3,1986,-11.202692,17.873887,AO,13200.0,Dem. Rep. of the Congo
4,1986,-11.202692,17.873887,AO,69000.0,Namibia
5,1986,-11.202692,17.873887,AO,50.0,Various/Unknown
6,1986,-11.202692,17.873887,AO,10000.0,South Africa
7,1987,-11.202692,17.873887,AO,12210.0,Dem. Rep. of the Congo
8,1987,-11.202692,17.873887,AO,940.0,Dem. Rep. of the Congo
9,1987,-11.202692,17.873887,AO,69000.0,Namibia

In [58]:
df_merge = df_merge.merge(df_geo, left_on='Origin', right_on='name', how='inner')
display(df_merge.head())
df_merge = df_merge[['Year','country','latitude','longitude','country_asylum','latitude_asylum','longitude_asylum','Value']]
df_merge = df_merge.rename(columns={'latitude': 'latitude_origin','longitude': 'longitude_origin','country':'country_origin'})
display(df_merge.head())
df_merge = df_merge.sort_values("Year")

,Year,latitude_asylum,longitude_asylum,country_asylum,Value,Origin,country,latitude,longitude,name
0,1985,-11.202692,17.873887,AO,69000.0,Namibia,NA,-22.95764,18.49041,Namibia
1,1986,-11.202692,17.873887,AO,69000.0,Namibia,NA,-22.95764,18.49041,Namibia
2,1987,-11.202692,17.873887,AO,69000.0,Namibia,NA,-22.95764,18.49041,Namibia
3,1988,-11.202692,17.873887,AO,69000.0,Namibia,NA,-22.95764,18.49041,Namibia
4,1989,-11.202692,17.873887,AO,1145.0,Namibia,NA,-22.95764,18.49041,Namibia

,Year,country_origin,latitude_origin,longitude_origin,country_asylum,latitude_asylum,longitude_asylum,Value
0,1985,NA,-22.95764,18.49041,AO,-11.202692,17.873887,69000.0
1,1986,NA,-22.95764,18.49041,AO,-11.202692,17.873887,69000.0
2,1987,NA,-22.95764,18.49041,AO,-11.202692,17.873887,69000.0
3,1988,NA,-22.95764,18.49041,AO,-11.202692,17.873887,69000.0
4,1989,NA,-22.95764,18.49041,AO,-11.202692,17.873887,1145.0

In [59]:
display(df_merge)

,Year,country_origin,latitude_origin,longitude_origin,country_asylum,latitude_asylum,longitude_asylum,Value
0,1985,NA,-22.95764,18.49041,AO,-11.202692,17.873887,69000.0
51693,1985,HT,18.971187,-72.285215,DO,18.735693,-70.162651,6000.0
50469,1985,ZW,-19.015438,29.154857,BW,-22.328474,24.684866,4250.0
1202,1985,ZA,-30.559482,22.937506,ZW,-19.015438,29.154857,250.0
1179,1985,ZA,-30.559482,22.937506,ZM,-13.133897,27.849332,3100.0
119503,1985,GQ,1.650801,10.267895,IT,41.87194,12.56738,1.0
46383,1985,ER,15.179384,39.782334,IT,41.87194,12.56738,185.0
46365,1985,ER,15.179384,39.782334,IQ,33.223191,43.679291,1200.0
23185,1985,SD,12.862807,30.217636,CF,6.611111,20.939444,850.0
23186,1985,SD,12.862807,30.217636,CF,6.611111,20.939444,400.0
1116,1985,ZA,-30.559482,22.937506,TZ,-6.369028,34.888822,6000.0
1096,1985,ZA,-30.559482,22.937506,SZ,-26.522503,31.465866,6900.0
44702,1985,ET,9.145,40.489673,YE,15.552727,48.516388,200.0
44701,1985,ET,9.145,40.489673,YE,15.552727,48.516388,5000.0
44483,1985,ET,9.145,40.489673,SY,34.802075,38.996815,1100.0
44334,1985,ET,9.145,40.489673,SO,5.152149,46.199616,812000.0
122581,1985,PH,12.879721,121.774017,MY,4.210484,101.975766,90000.0
44225,1985,ET,9.145,40.489673,SD,12.862807,30.217636,115520.0
44224,1985,ET,9.145,40.489673,SD,12.862807,30.217636,786000.0
44200,1985,ET,9.145,40.489673,SA,23.885942,45.079162,120000.0
44166,1985,ET,9.145,40.489673,QA,25.354826,51.183884,200.0
43903,1985,ET,9.145,40.489673,NG,9.081999,8.675277,60.0
118162,1985,CZ,49.817492,15.472962,IT,41.87194,12.56738,411.0
118138,1985,CZ,49.817492,15.472962,GR,39.074208,21.824312,90.0
52126,1985,HT,18.971187,-72.285215,VE,6.42375,-66.58973,100.0
52432,1985,BF,12.238333,-1.561593,CI,7.539989,-5.54708,90.0
19850,1985,UG,1.373333,32.290275,RW,-1.940278,29.873888,28500.0
19887,1985,UG,1.373333,32.290275,SD,12.862807,30.217636,250000.0
109987,1985,GT,15.783471,-90.230759,BO,-16.290154,-63.588653,120.0
110049,1985,GT,15.783471,-90.230759,CR,9.748917,-83.753428,200.0
...,...,...,...,...,...,...,...,...
96833,2016,AL,41.153332,20.168331,IE,53.41291,-8.24389,74.0
96573,2016,AL,41.153332,20.168331,CH,46.818188,8.227512,84.0
96574,2016,AL,41.153332,20.168331,CH,46.818188,8.227512,67.0
15743,2016,SO,5.152149,46.199616,DJ,11.825138,42.590275,56.0
15744,2016,SO,5.152149,46.199616,DJ,11.825138,42.590275,63.0
15745,2016,SO,5.152149,46.199616,DJ,11.825138,42.590275,13021.0
15746,2016,SO,5.152149,46.199616,DJ,11.825138,42.590275,68.0
96608,2016,AL,41.153332,20.168331,DE,51.165691,10.451526,11258.0
96609,2016,AL,41.153332,20.168331,DE,51.165691,10.451526,699.0
44439,2016,ET,9.145,40.489673,SE,60.128161,18.643501,1572.0
44438,2016,ET,9.145,40.489673,SE,60.128161,18.643501,1397.0
96648,2016,AL,41.153332,20.168331,DK,56.26392,9.501785,6.0
128735,2016,AE,23.424076,53.847818,TR,38.963745,35.243322,20.0
44397,2016,ET,9.145,40.489673,SO,5.152149,46.199616,3060.0
44396,2016,ET,9.145,40.489673,SO,5.152149,46.199616,10.0
44395,2016,ET,9.145,40.489673,SO,5.152149,46.199616,12400.0
96692,2016,AL,41.153332,20.168331,ES,40.463667,-3.74922,25.0
96718,2016,AL,41.153332,20.168331,FI,61.92411,25.748151,6.0
96746,2016,AL,41.153332,20.168331,FR,46.227638,2.213749,5032.0
96747,2016,AL,41.153332,20.168331,FR,46.227638,2.213749,3568.0
44292,2016,ET,9.145,40.489673,SD,12.862807,30.217636,3663.0
96772,2016,AL,41.153332,20.168331,GB,55.378051,-3.435973,2290.0
96773,2016,AL,41.153332,20.168331,GB,55.378051,-3.435973,2256.0
44291,2016,ET,9.145,40.489673,SD,12.862807,30.217636,8813.0
15790,2016,SO,5.152149,46.199616,DK,56.26392,9.501785,111.0
96799,2016,AL,41.153332,20.168331,GR,39.074208,21.824312,1470.0
96800,2016,AL,41.153332,20.168331,GR,39.074208,21.824312,146.0
96832,2016,AL,41.153332,20.168331,IE,53.41291,-8.24389,382.0
97190,2016,AL,41.153332,20.168331,LU,49.815273,6.129583,160.0
129109,2016,BH,25.930414,50.637772,US,37.09024,-95.712891,20.0

In [46]:
df_merge.to_csv("final_data.csv", sep=',', encoding='utf-8',index = False)